@charset "utf-8";

@font-face {
    font-family: 'NanumSquare';
    font-weight: 800;
    src: url(NanumSquareEB.eot);
    src: local('☺'),
        url(../font/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
        url(../font/NanumSquareEB.woff2) format('woff2'),
        url(../font/NanumSquareEB.woff) format('woff'),
        url(../font/NanumSquareEB.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 700;
    src: url(NanumSquareB.eot);
    src: local('☺'),
        url(../font/NanumSquareB.eot?#iefix) format('embedded-opentype'),
        url(../font/NanumSquareB.woff2) format('woff2'),
        url(../font/NanumSquareB.woff) format('woff'),
        url(../font/NanumSquareB.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: url(NanumSquareR.eot);
    src: local('☺'),
        url(../font/NanumSquareR.eot?#iefix) format('embedded-opentype'),
        url(../font/NanumSquareR.woff2) format('woff2'),
        url(../font/NanumSquareR.woff) format('woff'),
        url(../font/NanumSquareR.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 300;
    src: url(NanumSquareL.eot);
    src: local('☺'),
        url(../font/NanumSquareL.eot?#iefix) format('embedded-opentype'),
        url(../font/NanumSquareL.woff2) format('woff2'),
        url(../font/NanumSquareL.woff) format('woff'),
        url(../font/NanumSquareL.ttf) format('truetype');
}

@font-face {
    font-family: 'esamanru';
    font-weight: 700;
    src: local('esamanru Bold'),
        url(../font/esamanru-Bold.woff2) format('woff2'),
        url(../font/esamanru-Bold.woff) format('woff');
}

@font-face {
    font-family: 'lato';
    font-weight: 900;
    src: local('Lato Black'),
        url(../font/lato-black.woff2) format('woff2'),
        url(../font/lato-black.woff) format('woff');
}


:root {
    --color-EC891F-primary: #EC891F;
    --color-2892D7-secondary: #2892D7;
    --color-2BAE66-correct: #2BAE66;
    --color-FCF6F5-light: #FCF6F5;
    --color-FFFFFF-white: #FFFFFF;

    --font-sans-serif: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    --shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
    --bs-gutter-x: 24px;
    --bs-gutter-y: 24px;
    --letter-spacing: -1px;

    /* 타이틀 폰트 사이즈 : 최종 버전으로 추후 변수명의 숫자 일괄 삭제 */
    --font-title-60-6xl: 60px;
    --font-title-48-5xl: 48px;
    --font-title-40-4xl: 40px;
    --font-title-36-3xl: 36px;
    --font-title-32-2xl: 32px;
    --font-title-28-xl: 28px;
    --font-title-24-lg: 24px;
    --font-title-22-md: 22px;
    --font-title-20-sm: 20px;
    --font-title-18-xs: 18px;

    /* 폰트사이즈 : 최종 버전으로 추후 변수명의 숫자 일괄 삭제 */
    --font-32-2xl: 32px;
    --font-20-xl: 20px;
    --font-18-lg: 18px;
    --font-16-md: 16px;
    --font-15-sm: 15px;
    --font-14-xs: 14px;
    --font-13-xxs: 13px;
    --font-12-min: 12px;

    /* 폰트두께 : 최종 버전으로 추후 변수명의 숫자 일괄 삭제 */
    --font-900-black: 900;
    --font-800-extrabold: 800;
    --font-700-bold: 700;
    --font-600-semibold: 600;
    --font-500-medium: 500;
    --font-400-regular: 400;
    --font-300-thin: 400;

    /* 여백 : 최종 버전으로 추후 변수명의 숫자 일괄 삭제 */
    --space-200-7xl: 200px;
    --space-120-6xl: 120px;
    --space-80-5xl: 80px;
    --space-60-4xl: 60px;
    --space-48-3xl: 48px;
    --space-40-2xl: 40px;
    --space-32-xl: 32px;
    --space-24-lg: 24px;
    --space-20-md: 20px;
    --space-16-sm: 16px;
    --space-12-xs: 12px;
    --space-8-xxs: 8px;
    --space-4-min: 4px;

    /* 모서리지름 : 최종 버전으로 추후 변수명의 숫자 일괄 삭제 */
    --radius-full: 100px;
    --radius-28-threexl: 28px;
    --radius-24-xxl: 24px;
    --radius-20-xl: 20px;
    --radius-16-lg: 16px;
    --radius-12-md: 12px;
    --radius-8-sm: 8px;
}

* {
    box-sizing: border-box;
}

:root,
html {
    font-size: 16px;
}

body {
    background: var(--white);
    font-family: var(--font-sans-serif);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.4;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    min-height: 100vh;
    position: relative;
    scroll-behavior: smooth;
    transition: opacity 1s ease-in-out;
}

a {
    text-decoration: none;
}

dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

button,
input,
textarea,
select {
    font-family: var(--font-family);
}

input:focus,
input:hover {
    outline: none;
}

textarea {
    overflow: auto;
}

/* **************************************** *
 * Common
 * **************************************** */
.row {
    --bs-gutter-x: 1.25rem;
    --bs-gutter-y: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x))
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y)
}

.col {
    flex: 1 0 0%
}

.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%
}

.col-3 {
    flex: 0 0 auto;
    width: 25%
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%
}

.col-6 {
    flex: 0 0 auto;
    width: 50%
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%
}

.col-9 {
    flex: 0 0 auto;
    width: 75%
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%
}

.col-12 {
    flex: 0 0 auto;
    width: 100%
}

@media (min-width:768px) {
    .col-md {
        flex: 1 0 0%
    }

    .col-md-auto {
        flex: 0 0 auto;
        width: auto
    }

    .col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

@media (min-width:992px) {
    .col-lg {
        flex: 1 0 0%
    }

    .col-lg-auto {
        flex: 0 0 auto;
        width: auto
    }

    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%
    }
}


.mo {
    display: block;
}

.pc {
    display: none;
}

@media (min-width: 768px) {
    .mo {
        display: none;
    }

    .pc {
        display: block;
    }
}


.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {

    .container,
    .container-sm {
        max-width: 540px
    }
}

@media (min-width:768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 720px
    }
}

@media (min-width:992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px
    }
}

@media (min-width:1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px
    }
}

@media (min-width:1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1280px
    }
}

/* **************************************** *
 * Text Color & Point
 * **************************************** */
.mo {
    display: block;
}

.pc {
    display: none;
}

@media (min-width:768px) {
    .mo {
        display: none;
    }

    .pc {
        display: block;
    }
}